* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*Hero Section*/
header {
  margin: 0 auto;
  padding: 24px;
  background-color: #1F2937;
}

nav {
  width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

nav > ul {
  display: flex;
  align-items: baseline;
  color:#E5E7EB;
  font-size: 18px;
  gap: 16px;
  letter-spacing: 2px;
}

nav > ul > .logo {
  margin-right: auto;
  color: #F8FAF8;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
}

.hero-section {
  width: 1200px;
  display: flex;
  margin: 40px auto;
  padding: 20px;
  gap: 16px
}

.about-content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  margin: 0 auto;
}

.about-content > h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
  color: #F8FAF8;
}

.about-text {
  margin-bottom: 16px;
  color:#E5E7EB;
  font-size: 18px;
  line-height: 1.3;
}

.sign-up {
  padding: 8px 32px ;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  width: 130px;
  background-color: #3882F6;
  color:#E5E7EB;
}

.about-img {
  flex: 1;
  flex-wrap: wrap;
}

/* Information section*/

main {
  background-color: #F8FAF8;
  margin: 48px 0;
}

main > h2 {
  text-align: center;
  padding: 24px 0;
  margin: 36px 0;
  font-size: 36px;
  font-weight: 900;
  color:#1F2937;
  letter-spacing: 1px;
}

.service-catalog {
display: flex;
justify-content: center;
align-items: baseline;
flex-wrap: wrap;
gap: 16px;
}

.card {
  width: 250px;
  overflow: hidden;
}

.card img {
width: 100%;
height: 177px;
object-fit: cover;
}

.img-content {
  margin-top: 8px;
  font-size: 18px;
  color: #1F2937;
  line-height: 1.3;

}

/*Quote section*/

.quote {
  background-color: #E5E7EB;
  font-style: italic;
  font-size: 36px;
  color:#1F2937;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  gap: 24px;
  letter-spacing: 2px;
}

.blockquote-author {
  align-self: flex-end;
  letter-spacing: 2px;
}

/* call to action section*/

.call-to_action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8FAF8;
  height: 500px;
}


.action-text > h2 {
  font-size: 24px;
  font-weight:900;
  color: #F8FAF8;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.action-text > p {
  font-size: 16px;
  color: #E5E7EB;
  line-height: 1.3;
}

.action-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882F6;
  padding: 48px 0;
  gap:48px;
  width: 1200px;
  border-radius: 8px;
}

.action-btn {
  padding: 8px 32px ;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  width: 130px;
  background-color: inherit;
  color:#E5E7EB;
  border: 1px solid #E5E7EB;
}

/*footer section */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  gap: 8px;background-color: #1F2937;
  letter-spacing: 2px;


}

.footer > h3 {
  font-size: 24px;
  font-weight: 900;
  color: #F8FAF8;
  letter-spacing: 1px;
}


.footer > address {
  font-size: 16px;
  color:#E5E7EB;
}

.footer > p {
  font-size: 16px;
  color: #E5E7EB;
  letter-spacing: 1px;
}